body{
	margin:0;
}
.impowerBox .title {display: none!important;}
.impowerBox .status{
	padding:7px 14px;
	text-align:left;
	margin-top:15px;
	background-color:#232323;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	box-shadow:inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
	-moz-box-shadow:inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
	-webkit-box-shadow:inset 0 5px 10px -5px #191919,0 1px 0 0 #444
}
.impowerBox .qrcode{
	width:170px;
	margin:0;
}